// CONSTANTES
$gris-main: #363637;
$azul-main: #25a1b0;

// STYLES
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  background-color: $gris-main;
}

header {
  width: 100%;
  height: 5em;
  background-color: $azul-main;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 24px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.274);
}
header a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-hypernova-header {
  height: 90%;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  transition: transform .4s;;
  cursor: pointer;
}

.logo-hypernova-header:hover {
  transform: scale(1.3);
}

ul {
  display: flex;
  position: relative;
  gap: 30px;
}

ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  background: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.proces:hover {
  width: 18em;
}

.resultats:hover {
  width: 18em;
}
.perque:hover {
  width: 18em;
}

ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

ul li:hover::before {
  opacity: 1;
}

ul li:hover::after {
  opacity: 0.5;
}

ul li ion-icon {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

ul li:hover ion-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

ul li span {
  position: absolute;
}

ul li .title {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.1em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  height: 50em;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-content {
  width: 70%;
  height: 100%;
  background-color: #3d3d3d;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.274);
  padding: 40px 60px;
  border: 1px solid #14cbdf5d;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  font-size: 45px;
  color: #d4d4d4;
}
.row {
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;
  border-radius: 20px;
}

.card__side {
  height: 20rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
          box-shadow: 0 0 40px #00000038;
  
  border-radius: 25px;
  padding: 15px;
  border: 1px solid $azul-main;
}

.card__side--front-1 {
  background-color: #444444;
}
.card_image--1 {
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
  background-image: url(../assets/desenvolupament.jpg);
  background-size: cover;
  background-position: 90%;
  border-radius: 20px;
  -webkit-mask-image:-webkit-gradient(linear, right top, right bottom, from(rgb(255, 0, 0)), to(rgb(255, 0, 0)));
  mask-image: linear-gradient(to bottom, rgb(255, 0, 0) 0%, rgba(255, 0, 0, 0) 89%) ;
  margin: 0;
}
.card__title--1 h4 {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 17px;
  text-align: center;
  margin-top: -10px;
}
.card__side--front-2 {
  background-color: #444444;
}
.card__side--front-3 {
  background-color: #444444;
}
.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-color: #444444;
  box-shadow: 0 0 40px #25a2b063;

}
.card__side--back-2 {
  background-color: #444444;
  box-shadow: 0 0 40px #25a2b063;
}
.card__side--back-3 {
  background-color: #444444;
  box-shadow: 0 0 40px #25a2b063;
}

.card:hover .card__side--front-1,
.card:hover .card__side--front-2,
.card:hover .card__side--front-3 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);

}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

footer {
  width: 100%;
  height: 10em;
  background-color: $azul-main;
}













