// CONSTANTES
$gris-main: #363637;
$azul-main: #25a1b0;

// STYLES
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $gris-main;
}

header {
  width: 100%;
  height: 5em;
  background-color: $azul-main;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 15px;
}
.logo-hypernova-header {
  height: 90%;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  transition: transform .4s;
}

.logo-hypernova-header:hover {
  transform: scale(1.3);
}

ul {
  display: flex;
  position: relative;
  gap: 25px;
}

ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  background: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

ul li:hover::before {
  opacity: 1;
}

ul li:hover::after {
  opacity: 0.5;
}

ul li ion-icon {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

ul li:hover ion-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

ul li span {
  position: absolute;
}

ul li .title {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.1em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}
main {
  height: 50em;
  width: 100%;
}
footer {
  width: 100%;
  height: 20em;
  background-color: $azul-main;
}


